<div class="menu_section">
   
  <ul class="nav side-menu">
    <!-- /. 0 -->
    <li data-index="0"><a href="./index3.html"><i class="fa fa-home"></i>首页</a></li>
    <!-- /. 1-->
    <li class="hide" data-index="1"><a href="./device_map.html"><i class="fa fa-edit"></i>设备分布</a> </li>
    <li class="hide" data-index="1"><a href="#"><i class="fa fa-edit"></i>设备列表<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
        <li><a href="./device_map.html">设备分布</a></li>
        <li><a href="./device_listAll.html">设备列表</a></li>
        
      </ul>
    </li>
    
    
    <!-- /. 2-->
    <li class="hide" data-index="2"><a href="./stock/outstock.html"><i class="fa fa-desktop"></i>出库</a></li>
    <li class="hide" data-index="2"><a href="./stock/instock.html"><i class="fa fa-desktop"></i>入库</a></li>
    <!-- /. 3-->                 
    <li class="hide" data-index="3"><a href="./system/user.html"><i class="fa fa-table"></i> 用户管理</a></li>
    <li class="hide" data-index="3"><a href="./system/role.html"><i class="fa fa-table"></i> 角色管理</a></li>
    <li class="hide" data-index="3"><a href="./system/instruction.html"><i class="fa fa-table"></i> 说明书管理</a></li>  
    <!-- 4 -->
    <li class="hide" data-index="4"><a href="./message/push.html"><i class="fa fa-envelope-o"></i>消息推送</a></li>
    <li class="hide" data-index="4"><a href="./message/back.html"><i class="fa fa-envelope-o"></i>消息反馈</a></li>
  </ul>
</div>