<div class="menu_section">
   
  <ul class="nav side-menu">
    <!-- /. 0 -->
    <li data-index="0"><a href="./index3.html"><i class="fa fa-home"></i>首页</a></li>
    <!-- /. 1-->
    <li class="hide" data-index="1"><a href="./templates/device/device.html"><i class="fa fa-edit"></i>设备管理</a></li>
    <!-- /. 2-->
    <li class="hide" data-index="2"><a href="./templates/stock/outstock.html"><i class="fa fa-desktop"></i>出库</a></li>
    <li class="hide" data-index="2"><a href="./templates/stock/instock.html"><i class="fa fa-desktop"></i>入库</a></li>
    <!-- /. 3-->                 
    <li class="hide" data-index="3"><a href="./templates/system/user.html"><i class="fa fa-table"></i> 用户管理</a></li>
    <li class="hide" data-index="3"><a href="./templates/system/role.html"><i class="fa fa-table"></i> 角色管理</a></li>
    <li class="hide" data-index="3"><a href="./templates/system/instruction.html"><i class="fa fa-table"></i> 说明书管理</a></li>  
    <!-- 4 -->
    <li class="hide" data-index="4"><a href="./templates/message/push.html"><i class="fa fa-envelope-o"></i>消息推送</a></li>
    <li class="hide" data-index="4"><a href="./templates/message/back.html"><i class="fa fa-envelope-o"></i>消息反馈</a></li>
  </ul>
</div>