<div class="menu_section">
   
  <ul class="nav side-menu">
    <!-- /. 0 -->
    <li data-index="0"><a><i class="fa fa-home"></i>首页</a></li>
    <!-- /. 1-->
    <li class="hide" data-index="1"><a href="./device_map.html"><i class="fa fa-edit"></i>地图分布</a></li>
    <li class="hide" data-index="1"><a><i class="fa fa-edit"></i>设备列表<span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        <li><a href="./device_listAll.html">所有设备</a></li>
        <li><a href="#">关联设备</a></li>
      </ul>
    </li>
    
    <!-- /. 2-->
    <li class="hide" data-index="2"><a href="./fault_list.html"><i class="fa fa-desktop"></i>故障列表</a></li>
    <li class="hide" data-index="2"><a href="./fault_analyze.html"><i class="fa fa-desktop"></i>报警及故障统计</a></li>
    <!-- /. 3-->                 
    <li class="hide" data-index="3"><a><i class="fa fa-table"></i>产品管理<span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        <li><a href="./product_configuration.html">产品配置</a></li>
      </ul>
    </li>
    <li class="hide" data-index="3"><a><i class="fa fa-table"></i> 用户管理 <span class="fa fa-chevron-down"></span></a>
       <ul class="nav child_menu">
        <li><a href="./company_user.html">公司用户</a></li>
        <li><a href="./customer.html">客户</a></li>
      </ul>
    </li>
    <li class="hide" data-index="3"><a><i class="fa fa-table"></i> 系统信息 <span class="fa fa-chevron-down"></span></a>
       <ul class="nav child_menu">
        <li><a href="./system_message.html">企业信息</a></li>
        <li><a href="./system_log.html">系统日志</a></li>
      </ul>
    </li>                  
  </ul>
</div>